header {
	background: orange;
	height: 90px;
	width: 100%;
	margin-top: -100px;
}

p.title {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 110px;
	text-align: left;
}

p.equip {
	font-family: Impact, Charcoal, sans-serif;
	color: gray;
	font-size: 20px;
	text-align: right;
	margin-top: -240px;
	margin-right: 10px;
	margin-left: 95%;
	cursor: pointer;
}

nav{
	background: orange;
	margin-top: 50px;
	width: 18%;
	height: 600px;
	float: left;
}

p.menu {
	font-family: Impact, Charcoal, sans-serif;
	text-align: center;
	font-size: 25px;
}

p.menu-obj {
	font-family: Impact, Charcoal, sans-serif;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
}

div.traco {
	background: black;
	margin-right: 5px;
	margin-top: -15px;
	margin-left: 5px;
	height: 5px;
}

p.menuobj1 {
	background: #b77803;
	margin-left: 7px;
	margin-right: 7px;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 15;
	height: 30px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}

aside {
	background: black;
	margin-top: 50px;
	height: 5px;
}

#imagem {
	background: orange;
	width: 25%;
	margin-left: 5px;
	margin-top: 5px;
	float: left;
	border: 10px solid orange;
}

#texto {
	background: orange;
	width: 55%;
	margin-left: 5px;
	margin-top: 5px;
	float: left;
}

div h1 {
	margin-left: 5px;
    font-family: Impact, sans-serif;
	font-size: 25;
	text-align: center;
}

footer {
	background: orange;
	margin-top: 10px;
	height: 26px;
}

footer p {
	text-align: right;
	margin-right: 50px;
}